<h1>Hello, world!</h1>
<p>Welcome to your Shopping cart featurette</p>
<p>What's in here:</p>
<p>This is a simple demo of how we coudl roughly implement a shopping cart, find the shopping cart link on the top right corner please.</p>
<div>Main Features
  <ul>
    <li>List all available products</li>
    <li>Add products to a cart (stored in session)</li>
    <li>Checkout the carts products for purchase (data persisted in localdb/CleanArchitectureDb</li>
    <li>To save time and effort i've just thrown all the features within the same view, look for the readme.md file to know how to use it</li>
    <li>Most of the effort has been done in the back-end and UT</li>
  </ul>
 </div>
