<h1>Available Products list & Shopping Cart contents view</h1>


<p *ngIf="!products"><em>Loading products...</em></p>
<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>ShoppingCartId</th>
      <th>ProductId</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>In Stock</th>
      <th>Items in your cart</th>
      <th>
        <input #nameInput type="text" placeholder="type name to checkout'"> <br />
        <button class="btn btn-danger" (click)="checkoutCart(nameInput.value)">Ok, Checkout Cart</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.shoppingCartId}}</td>
      <td>{{ product.productId}}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.remainingStock}}</td>
      <td> <input type="text" pattern="[0-9]*" maxlength="3" name="quantity" title="quantity to buy" [(ngModel)]="product.quantityToBuy"  value="{{ product.quantityToBuy}}"> </td>
      <td colspan="2">
        <button class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button>
      </td>
    </tr>
  </tbody>
</table>
